  h1 {
    color:yellow;
    font-size: 5em;
    background-color:papayawhip;
    width:500px
  }

  .backdrop {
    background-color:papayawhip;
  }
  #sky {
    font-style:bold;
    color:blue;
    background-color:yellow;
  }
  .mid-width {
    width: 500px;
  }

 body {
  background-color:green
}
