.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {

}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
}

.navigation > ul > li {
 display: inline;
 list-style: none;
}

.content {
  
}

.footer {

}
