  *{
  border:1px solid blue;
  margin: 10px;
}

.backdrop {
    background-color:papayawhip;
  }

#sky {
    font-style:bold;
    color:blue;
    background-color:yellow;
  }

body {
  background-color:green
}

#IntroLine {
  color:red;
}

#header {

}

.container {
  max-width: 760px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

#header > .container {
  color:pink;
}

#content > p {
  color:pink;
}

#footer > p {
  color:pink;
}

div li:nth-child(1n) {
  color:yellow;
}

div li:nth-child(2n) {
  color:orange;
}

div li:nth-child(3n) {
  color:red;
}
